<h1>
{{title}}
</h1>

<!-- power buttons -->
<div>
  <button type="button" class="button" (click)="onRandomBurger()">Generate Random Burger</button>
  <button type="button" class="button alert" (click)="onReset()"><img zf-iconic="" icon="circle-x" data-direction="top" size="medium">Reset</button>
</div>


<!-- order summary -->
<table class="price-table">
  <thead>
  <tr>
    <th width="50%">Ingredient</th>
    <th width="25%">Price</th>
    <th width="50%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ingredient of burger.ingredients" class="item">
    <td>{{ingredient.name}}</td>
    <td>CHF {{ingredient.price | number:'1.2' }}</td>
    <td><button class="button alert small" (click)="removeIngredient(ingredient)"><img zf-iconic="" icon="ban" data-direction="top" size="medium">Remove</button></td>
  </tr>
  <tr id="total">
    <td>Total</td>
    <td>CHF {{burger.getTotal() | number:'1.2' }}</td>
    <td><button type="button" class="button disabled">Order Burger</button></td>
  </tr>

  </tbody>
</table>

<!-- burger configurator -->
<div class="burger-components cell small-12 grid-x">
  <div class="ingredients small-12 medium-6">
    <h2>Ingredients</h2>

    <ul>
      <li
        *ngFor="let ingredient of ingredients">
        <button class="button" type="button" (click)="addIngredient(ingredient)">{{ingredient.name}} CHF {{ingredient.price | number:'1.2' }}</button>
      </li>
    </ul>
  </div>
  <div class="sauces">
    <h2>Sauces</h2>

    <ul>
      <li
        *ngFor="let ingredient of sauces">
        <button class="button" type="button" (click)="addIngredient(ingredient)">{{ingredient.name}} CHF {{ingredient.price | number:'1.2' }}</button>
      </li>
    </ul>
  </div>

</div>
